*{
  -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
  display: none;
  }
  
  
/* header */
.main-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(109 154 197);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shoppingIcon{
  height: 100%;
  display: flex;
  align-items: center;
}
.shoppingIcon svg{
  font-size: 55px;
  color:white; 
  margin-left: 9px;
}
.shoppingIcon p{
  font-size: 25px;
  color:white; 
  font-weight:600;
}
.shoppingIcon p span{
  font-size: 36px;
}
.cartIcon .css-2s90m6-MuiAvatar-root{
  background-color:white;
  padding: 10px;
}
.cartIcon .css-2s90m6-MuiAvatar-root svg {
  color: rgb(109 154 197);
  font-size: 35px;
}
.cartIcon{
  margin-right: 30px; 
}
.cartIcon svg {
  color: white;
  font-size: 45px;
}
.cartIcon .totalData{
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 3px;
  right: 17px;
}
.cartIcon a{
  position: relative;
}

/* home page */
.mainTitle p{
  font-size: 35px;
  text-align: center;
  color: rgb(109 154 197);
  font-weight: 600;
  text-decoration: underline;
  margin-top: 30px;
  padding: 20px;
}

.mainTitle{
  margin-top: 10px;
}
.item-container{
  margin: 30px 20px 0px 20px;
}
.sub-item{
  padding-left: 22px !important;
  margin-bottom: 15px !important;
}
.itemCard {
  width: 98%;
  height:700px;
  /* box-shadow: rgb(0 0 0 / 25%) 1.95px 1.95px 2.6px; */
  /* box-shadow:rgb(60 64 67 / 30%) 5px 1px 10px 0px, rgb(60 64 67 / 24%) 0px 1px 3px 0px !important; */
  box-shadow:rgb(60 64 67 / 35%) 5px 7px 26px 0px, rgb(60 64 67 / 14%) 0px 8px 2px 0px !important
}
.itemCard img {
  height:500px;
  object-fit: fill;
  transition: 100% 3s !important;
}
.itemCard img:hover {
  height: 510px;
}
.itemContent .itemName{
  font-weight: 600 ;
  color: rgb(36 101 164) ;
  margin-bottom: 10px ;
}
.itemContent .itemDesc{
  font-size: 18px !important;
  font-weight: 600 !important;
  color: rgb(109 154 197)  !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productContent .itemPrice,.itemCard .itemPrice{
  font-size: 25px;
  font-weight: 600;
  color: rgb(52 94 134);
}
.priceContent{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.productContent .itemActualPrice,.itemContent .itemActualPrice {
  margin-left: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #878787;
  text-decoration: line-through;
}
.productContent .itemOffer,.itemContent .itemOffer {
  margin-left: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #388e3c;
}


/* product page */
.product-box {
  margin-top: 10px;
}

.product-box .proTitle{
  font-size: 35px;
  text-align: center;
  color: rgb(109 154 197);
  font-weight: 600;
  text-decoration: underline;
  margin-top: 30px;
  padding: 20px;
}
.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.product-container .productCard {
  width: 80%;
  height: 600px;
  box-shadow:rgb(60 64 67 / 35%) 5px 7px 26px 0px, rgb(60 64 67 / 14%) 0px 8px 2px 0px !important
} 
.product-container .productCard .css-11lq3yg-MuiGrid-root, .product-container .productCard .css-bhp9pd-MuiPaper-root-MuiCard-root{
  height: 100%;
 
}
.product-container .productCard .css-bhp9pd-MuiPaper-root-MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productCard .css-k3f0g4-MuiGrid-root{
  height: 100%;
}

.product-container .productCard img{
  height: 100%;
  object-fit: fill;
}
.productContent{
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 15px; */
}
.productContent .productName{
  font-size: 27px;
  font-weight: 600;
  color: rgb(36 101 164);
}
.productContent .productTitle{
  margin-top: 20px;
  color: #6d9ac5;
  font-size: 20px;
  font-weight: 600;
}
.productContent .productPrice{
  color: rgb(52 94 134);
  font-size: 30px;
  font-weight: 600;
}
.productPrice,.specialCoupon{
  display: flex;
  align-items: center;
}
.productContent .productCoupon{
  margin-top: 25px;
  color: #2948599e;
  font-weight: bold;
}
.specialCoupon .couponIcon{
  padding-right:15px;
}
.specialCoupon .couponIcon svg{
  color: #388e3c;
  font-size: 26px;
  margin-top: 2px;
}
.specialCoupon .specialPrice{
  padding-right:15px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0 0 0 / 80%);
}
.specialCoupon .priceCoupon{
  padding-right:15px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0 0 0 / 80%);
}
.bankOffer{
  width: 153px !important;
}
.productContent .productDesc{
  margin-top: 8px;
  letter-spacing: 1.2px;
  font-size: 20px;
  color: rgb(0 0 0 / 80%);
}
.cartBtn{
  width: 100%;
  margin-top: 20px;
}
.cartBtn a{
  text-decoration: none;
}
.cartBtn button{
  /* width: 30%; */
  padding: 6px 25px;
  background: rgb(109 154 197);
  font-weight: 600;
  font-size: 18px;
}


/* login and signup page */
.container{
  width: 90% !important;
  height: 100vh;
  box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2);
  background-color: rgb(109 154 197);
}
.subContainer {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBox {
  background-color: white;
  width: 65%;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; 
  border-radius: 15px;
}
.signupImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.signupImage .css-2s90m6-MuiAvatar-root {
  background: #6d9ac5;
  margin-top: 20px;
  padding: 10px;
}
.signupImage .css-2s90m6-MuiAvatar-root svg{
  font-size: 35px;
}
.SignupContain p{
  text-align: center;
  margin-top: 10px;
  font-size: 21px;
  color: #6d9ac5;
  font-weight: 600;
}
.signupDetail{
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.inputStyle{
  width:60%;
  position: relative;
}
.signupDetail .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.textStyle{
  display: flex;
  align-items: center;
  font-size: 18px !important;
  color: #6d9ac5;
  font-weight: 600 !important;
  min-width: 90px;
}
.submitBtn {
  text-align: center;
  margin-top: 10px;
}
.submitBtn button {
  width: 82%;
  margin: 20px 0px;
  font-weight: 600;
  background-color: #6d9ac5;
  padding: 10px;
  font-size: 18px;
}
.signupDetail .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .signupDetail1 .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .phoneStyle .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border: 1px solid #6d9ac5 !important;
}
.noAccount p{
  text-align: center;
  font-size: 20px;
  margin-left: 5px;
}
.noAccount .memberText {
  color: #746e6ebf;
}
.noAccount {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupLink{
  color: #6d9ac5;
  font-weight: 600 !important;
}
.signupLink a{
  color: #6d9ac5;
}
.signupLink:hover{
  color: #1565c0;
}
.mainBox .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  color: #746e6ebf;
  font-size: 18px;
  font-weight: 500;
}
.errorStyle{
  color: #BB3F3F;
  position: absolute;
}
.submitButton{
  text-decoration: none;
}


/* add to cart page */
.cartContainer{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
}
.leftContainer{
  width: 65%;
  height: 100%;
  background: #d3e2f040
}
.rightContainer{
  width: 35%;
  height: 100%;
  background: #d3e2f040
}
.leftContainer .totalItems{
  width: 96%;
  height: 80px;
  position: sticky;
  margin-top: 25px;
  margin-left: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.leftContainer .itemsShow{
  width: 96%;
  height: calc(100% - 160px);
  overflow-y: scroll;
  margin-top: 25px;
  margin-left: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.rightContainer .priceDetail{
  width: 96%;
  margin-top: 25px;
  height: 60%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.leftContainer .numberContain {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0px 30px;
  background: #6d9ac5;
}
.leftContainer .numberContain p{
  font-size: 30px;
  color: white;
  font-weight: 600;
}
.leftContainer .numberShow{
  border: 4px solid white;
  width: 100px;
  border-radius: 8px;
  text-align: center;
}
.itemsShow .itemContainer {
  height: 45%;
  margin: 25px 25px 25px 25px;
  border-bottom: 2px solid rgb(109 154 197);
  display: flex;
}
.leftContainer .leftSide img {
  width: 330px;
  height: 75%;
  object-fit: fill; 
}
.leftSide{
  height: 100%;
}
.leftSide .addItem{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSide .addItem .plusBtn {
  border: 2px solid #6d9ac5;
  width: 30%;
  font-size: 22px;
  font-weight: 600;
}
.leftSide .addItem .noBtn {
  background-color: #6d9ac5;
  width: 30%;
  font-size: 22px;
  font-weight: 600;
  margin: 0px 15px;
}
.rightSide {
  margin: 0px 25px;
}
.rightSide h4{
  color: rgb(36 101 164);
  font-weight: 600;
}
.rightSide h5{
  color: #6d9ac5;
  font-weight: 600;
}
.rightSide .specialPrice{
  color:#388e3c;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}
.rightSide .productContent {
  padding: 0;
}
.rightSide .couponApplied{
  margin-top: 20px;
  font-size: 27px;
  font-weight: 600;
  color: rgb(0 0 0 / 80%);
;
}
.rightSide .couponContainer{
  display: flex;
  align-items: center;
}
.rightSide .couponContainer svg{
  font-size: 35px;
  margin-top: 25px;
  color:#388e3c;
  margin-right: 10px;

}
.rightSide .removeBtn{
  height: 25%;
  display: flex;
  align-items: center;
}
.rightSide .removeBtn button{
  font-size: 21px;
  font-weight: bold;
  background: #6d9ac5;
  padding: 8px 40px;

}
.rightSide .deliverDate{
  font-size: 26px;
  letter-spacing: 1px;
  color: #878787;
}
.priceDetail h4{
  color : #6d9ac5;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid;
  padding: 15px;
  font-size: 35px;
}
.rightContainer .priceTable{
  display: flex;
  justify-content: space-between;

}
.subContainerHeight{
  height: 70%;
}
.priceSubContainer{
  border-bottom: 2px solid #6d9ac5;
  border-bottom-style: dashed;
  padding: 15px 0px 15px 0px;
  margin: 0px 20px;
}
.priceTable h5{
  font-size: 30px;
  font-weight:600;
  color: #878787;
  padding: 17px 30px;
}
.priceTable .totalAmount{
  font-size: 35px;
  color: #6d9ac5;
  padding: 20px 35px;
}
.amountStyle{
  margin: 0px 20px;
  border-bottom: 2px solid #6d9ac5;
  border-bottom-style: dashed;
}
.priceContainer .totalSaving{
  color: #388e3c;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
}
.emptyCart{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyCart h3{
  font-weight: 500;
  color: #6d9ac5;
}
.clearCart{
  width: 96%;
  text-align: right;
  margin-right: 20px;
  margin-top: 15px;
}
.clearCart button{
  background-color: #6d9ac5;
  font-size: 18px;
  padding: 8px 20px;
  font-weight: 600;

}


/* media queries */

@media only screen and (min-width: 1201px){
  /* product page */
  .product-container .productCard .css-uqwprf-MuiGrid-root {
    height: 100%;
  }
  .productContent{
    padding-top:0;
  }
  .productPrice, .specialCoupon {
    margin-top: 5px;
  }
  .productContent .productTitle{
    margin-top: 5px;
  }
  .productContent .productCoupon{
    margin-top: 15px;
  }
  .specialCoupon .specialPrice{
    font-size: 20px;
  }
  .specialCoupon .priceCoupon{
    font-size: 20px;
  }
  .productContent .productDesc{
    font-size: 20px;
    letter-spacing:0;
  }
  .cartBtn{
    margin-top: 15px;
  }
  /* cart page */
  .rightSide .specialPrice{
    margin-top: 10px;
    font-size: 23px;
  }
  .rightSide .couponContainer svg{
    margin-top: 12px;
  }
  .rightSide .couponApplied{
    margin-top: 10px;
    font-size: 25px;
  }
  .rightSide .deliverDate{
    font-size: 24px;
  }
  .rightSide h4{
    font-size: 30px;
  }
  .priceSubContainer{
    padding:0;
  }
  .priceTable h5{
    padding: 15px 20px;
    font-size: 26px;
  }
  .priceTable .totalAmount{
    font-size: 30px;
    padding: 20px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  /* homepage */
  .itemCard{
    height: 555px;
  }
  .itemCard img {
    height: 400px;
  }
  .specialCoupon .priceCoupon {
    font-size: 18px;
  }
  .productContent .productTitle{
    margin-top: 10px;
    font-size: 19px;
  }
  .productContent .itemPrice{
    font-size: 20px;
  }
  .productContent .itemActualPrice{
    font-size: 20px;
  }
  .productContent .productCoupon{
    margin-top: 15px;
  }
  .specialCoupon .specialPrice{
    font-size: 18px;
  }
  .productContent .productDesc {
    margin-top:0;
    letter-spacing: 1.1px;
    font-size: 18px;
    letter-spacing: 0;
  }
  /* cart page */
  .leftContainer .leftSide img{
    width: 300px;
  }
  .rightSide{
    margin: 0px 15px;
  }
  .rightSide h4{
    font-size: 30px;
  }
  .rightSide h5{
    font-size: 22px;
  }
  .rightSide .specialPrice{
    font-size: 23px;
    margin-top: 5px;
  }
  .rightSide .couponApplied{
    font-size: 22px;
    margin-top: 15;
  }
  .rightSide .couponContainer svg{
    margin-top: 15px;
  }
  .rightSide .deliverDate{
    font-size: 21px;
  }
  .rightSide .removeBtn button{
    font-size: 19px;
    padding: 8px 20px;
  }
  .priceTable h5{
    font-size: 24px;
    padding: 15px 8px;
  }
  .priceTable .totalAmount{
    font-size: 30px;
    padding: 20px 7px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .productContent .productTitle{
    margin-top: 0px;
    font-size: 18px;
  }
  .productContent .itemPrice{
    font-size: 20px;
  }
  .productContent .itemActualPrice{
    font-size: 20px;
  }
  .productContent .itemOffer{
    font-size: 20px;
  }
  .productContent .productCoupon{
    margin-top: 10px;
  }
  .specialCoupon .specialPrice{
    font-size: 18px;
  }
  .specialCoupon .priceCoupon{
    font-size: 18px;
  }
  .productContent .productDesc{
    margin-top:0;
    letter-spacing:0;
    font-size: 18px;
  }
  .cartBtn{
    margin-top: 5px;
  }
  .cartBtn button{
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px){
  .product-box{
    margin-top: 0;
  }
  .product-box .proTitle{
    margin-top:15px;
  }
  .product-container .productCard .css-11lq3yg-MuiGrid-root{
    height: 100%;
    display: block;
    overflow-y: scroll;
  }
  .productCard .css-k3f0g4-MuiGrid-root{
    max-width: 100%;
  }
  .product-container .productCard .css-uqwprf-MuiGrid-root{
    max-width: 100%;
  }
  .productContent .productName{
    text-align: center;
  }
  .productContent .productTitle{
    margin-top:0;
    text-align: center;
  }
  .productPrice{
    justify-content: center;
  }
  .cartBtn{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}

